body{
  margin:0px;
  & *{

  }
}

.ic-content {
  overflow: hidden;
  width:100vw;
  height:100vh;
  .main-container {
    height:100%;
    width:100%;
  }
}


.undoButton{
  position:absolute;
  left:0;
  top:0;
  z-index:99999999;
}
